@charset "utf-8";

	
	
.brdOuter #innerWhiteboxSJ p {
	clear: both;
    color: #232323;
    font-size: 14px;
    left: 14px;
    margin: 0;
    position: absolute;
    top: 40px;
	}
.brdOuter #innerWhiteboxSJ h3 {
	background-position: 113px -262px;
    font-size: 20px;
    height: 55px;
    padding: 11px 14px 7px;
    width: 260px;
	}
.brdOuter #innerWhiteboxSJ h3:hover {
	background-position: 232px -715px;
	}
.brdOuter {
	border-bottom: 1px dotted #ccc;
	}
#quickJobsearch #loginBtmBrd, .col-2-2, .footerIcon, .brdOuter  {
	width: 300px;
	}
#alertSearchsetup .multi .workType .radio span.checked, .basicAlerts #alertSearchsetup .multi .workType .radio span.checked {
	background-position: -235px -428px !important;
	}
#alertSearchsetup .multi .workType .radio span {
	background-position: -217px -428px !important;
	}
#alertSearchsetup label input[type="submit"] {
	width: 169px;
	background-position: -66px -38px;
	padding: 7px 33px 7px 10px;
	}
textarea, .contentArea {
	width: 603px !important;
	font: normal 12px ProximaNova-Regular, Arial, Helvetica, sans-serif;
	resize: none;
	}
.notes input[type="button"] {
	background-position: -397px -144px;
	padding: 7px 10px 7px 30px;
	width: 111px;
	margin: 0 -1px 0 0;
	}	
	
/*--|| Search List ||--*/
#searchList {
	width: 640px;
	padding: 20px 0 0;
	clear: left;
	}
#searchList li {
	padding: 14px 13px;
	color: #464646;
	font: normal 13px ProximaNova-Bold, Arial, Helvetica, sans-serif;
	}
#searchList li.first, #searchList li.second, #searchList li.third, #searchList li.fourth {
	background-color: #efefef;
	}
#searchList li.list1, #searchList li.list2, #searchList li.list3, #searchList li.list4 {
	font-weight: normal;
	font: normal 12px ProximaNova-Regular, Arial, Helvetica, sans-serif;
	padding: 20px 13px 10px;
	}
#searchList li.list1c, #searchList li.list2c, #searchList li.list3c, #searchList li.list4c {
	font-weight: normal;
	font: normal 12px ProximaNova-Regular, Arial, Helvetica, sans-serif;
	}
#searchList li.first, #searchList li.list1, #searchList li.list1c {
	width: 226px;
	}
#searchList li.second, #searchList li.list2, #searchList li.list2c {
	width: 136px;
	}
#searchList li.third, #searchList li.list3, #searchList li.list3c, .viewApplicantsbtn {
	width: 100px;
	}
#searchList li.fourth, #searchList li.list4c {
	width: 74px;
	}
#searchList li.list1 a, #searchList li.list1c a, #dataCol a {
	color: #e6001d;
	text-decoration: none;
	border-bottom: 1px solid #f9bfc6;
	font-family: ProximaNova-Bold, Arial, Helvetica, sans-serif;
	font-size: 13px;
	}
#searchList li.list1 a:hover, #searchList li.list1c a:hover, #dataCol a:hover, .paddBtm a.backtoSR:hover, .paddUp a.backtoSR:hover, .alertCreate a#createAlert:hover, #headerButtons .wrapper a:hover, #jobSeeker a, #innerWhiteboxSJ a, .deleteBtns:hover, .editBtn:hover, .runsearchBtn:hover, .lgnwidth:hover, #jobSeekerSJ a, #searchList a.runSearchbtn, .appsummeryBox a, .newJobbuttons #cancel, .popupBtn .cancelPrev {
	text-decoration: none;
	}
.lgtGray {
	background-color: #f7f7f7;
	}
	
/*--|| Pagination ||--*/
.pagination {
	padding: 26px 0 0;
	margin: 0 -6px 0 0;
	}
.pagination a, .pagination strong {
	background-color: #e5e5e5;
	font: normal 13px ProximaNova-Regular, Arial, Helvetica, sans-serif;;
	color: #3d3d3d;
	padding: 5px 0 4px;
	min-width: 25px;
	text-align: center;
	margin: 0 2px;
	text-decoration: none;
	border-bottom: 1px solid #d9d9d9; 
	}
.pagination strong, .pagination a:hover {
	background-color: #d9d9d9;
	font-weight: normal;
	}	
.pagination strong {

	font-family: ProximaNova-Bold, Arial, Helvetica, sans-serif;
	background-color: #e6001d;
	color: #fff;
	}
#chkPractice span, #chkLocation span, #chkVal span, #chkLocationQuick span {
	padding: 0 0 0 10px;
	line-height: 37px;
	font-size: 14px;
	font-family: ProximaNova-Semibold, Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 0 #FFFFFF;
	color: #5d5d5d;
	}
#chkLocationQuick span {
	line-height: 50px;
	}
#listval span, #lisLocationQuick span, #lisPractice span, .sjcol-2-2 #lisLocation span, .hideBtn, .footerIcon a span  {
	display: none;
	}
#chkLocation, #chkLocationQuick {
	width: 76px !important;
	}
#lisLocation, #lisLocationQuick, #chkLocation, #chkLocationQuick {
	margin: 3px 0 0;
	}
#chkVal, #chkPractice, #chkLocation, #chkLocationQuick {
	background-position: 0 -565px;
	width: 312px;
	height: 34px;
	overflow: hidden;
        cursor: pointer;
	}
#chkLocationQuick {
	background-position: 0 -558px;
	height: 42px;
	}
#quickJobsearch #lisLocationQuick {
	background-position: -327px -510px;
	height: 42px;
	}
#quickJobsearch #lisLocationQuick:hover {
	background-position: -327px -558px;
	height: 42px;
	}
#listval, #lisPractice, #lisLocation, #lisLocationQuick {
	background-position: -327px -517px;
	width: 35px;
	height: 34px;
	cursor: pointer;
	}
#listval:hover, #lisPractice:hover, #lisLocation:hover {
	background-position: -327px -565px;
	}
.lftAlign {
	padding: 0 2px;
	position: relative;
	}
.pagination .prevBtn a, .pagination .nextBtn a {
	font-family: ProximaNova-Regular, Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-position: -407px -172px;
	background-color: #E5E5E5;
	padding: 5px 12px 4px 19px;
	margin: 0 3px;
	}	
.pagination .nextBtn a {
	background-position: -212px -64px;
	padding: 5px 19px 4px 12px;
	}
.pagination .prevBtn a:hover, .pagination .nextBtn a:hover {
	background-color: #d9d9d9;
	color: #000;
	}


/*--|| Error Text ||--*/
#infoMessage, .mrgLog  {
	left: 25px;
    position: absolute;
    top: 81px;
    z-index: 1;
	}
.mrgLog  {
	top: 48px !important;
	left: 0 !important;
	}
@media screen and (-webkit-min-device-pixel-ratio:0){ 
.errorTxt  {
	right: -3px !important;
	top: 20px !important;
	}
input, textarea {
	outline: none;
	}
.alertErrors div p {
	right: 267px !important;
	}
input {
	border-radius: 0;
	}
.job_previewformError .formErrorContent {
	top: 82px !important;
	}
.job_descriptionformError .formErrorContent {
	top: 146px !important;
	}
.buttons input[type="submit"], #loginBtmBrd .box-signIn label input[type="submit"], #quickJobsearch input[type="submit"]/*, .paddBtn input[type="submit"], .paddBtn input[type="reset"] */{
	padding: 8px 45px 8px 10px;
	}
/*.alertWdt input[type="submit"] {
	padding-top: 8px;
	padding-bottom: 8px;
	}*/
.archiveselBtn {
	padding: 9px 0 9px 32px;
	}
.sortable {
	width: 281px;
	}
.paginationDetail {
	width: 345px !important;
	}
#innerWhiteboxSJ p {
	top: -21px !important;
	}
#forgotPass .forgotPass input[type="button"] {
	padding: 8px 43px 6px 8px !important;
	}
#alertSearchsetup .buttons input[type="submit"] {
	padding: 7px 0 7px 23px /*!important*/;
	}
.adjPaddcs {
	top: 15px;
	}
.adjPadd p {
	top: 31px !important;	
	}	
.brdOuter #innerWhiteboxSJ p {
    position: absolute !important;
    top: 40px !important;
	}
.errorMsgAdj {
	right: 199px !important;
	}
.newJobform .smWtd div {
	float: left;
	}
.paddsie89 {
	padding-top: 15px;
	}
.wysiwyg {
	float: right !important;
	position: relative;
	left: 7px;
	top: -30px;
	}
#eamailJobForm .errorTxtemailjobsmsg p {
    top: 101px !important;
	}
#eamailJobForm .errorTxt {
    top: 4px !important;
	}
#eamailJobForm .recaptcha_response_field {
    top: -23px !important;
	}
	}
@media (max-width: 800px) {
input[type="submit"] {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	}
#container {
	background-color: #fff;
	min-width: 960px;
	}
	}
.errorTxt, .errorTxtlogin, .errorTxtmyacc, .errorTxtfp p, .errorTxtcapcha, .personalData #email_change_pending em, .alertErrors div p, .formError .formErrorContent, .min_experienceformError .formErrorContent, .errorTxtemailjobs, .newpass p, #email_change_pending p  {
    color: #FF0000;
    font-size: 11px;
    margin: 0;
    padding: 14px 0 0;
    position: relative;
    right: -4px;
    top: 6px;
    white-space: nowrap;
    width: 266px;
	}
#email_change_pending p {
	white-space: normal;
	width: 100%;
	}
.newpass p {
	right: -8px;
    top: 4px;
	}
.newpass .paddTop {
	top: 15px !important;
	}
.errorTxtemailjobs {
	right: 255px;
	top: 4px;
	}
#eamailJobForm .errorTxtemailjobsmsg p {
	left: 190px;
    top: 103px;
	}
#eamailJobForm .errorTxt {
	left: -266px;
    top: 4px;
	}
#eamailJobForm .recaptcha_response_field {
	left: 188px;
    top: -24px;
	}
.alertErrors div p {
	right: 257px;
	color: #fff;
	}
.errorTxtlogin, .personalData #email_change_pending em {
	right: 0;
	}
.errorTxtmyacc {
	right: -150px;
	}
.errorTxtfp p {
	right: 266px;
	top: 22px;
	}
#forgotPass .errorTxtfpass p {
	top: -24px;
	}
.errorTxtcaptchemail p {
	right: -198px;
	top: -20px;
	}
.errorTxtcapcha {
	padding: 5px 0 0;
	right: -154px;
	}
.errorTxtmyacc {
	padding: 0 0 20px;
	}
.errorMsgAdj {
	right: 199px;
	}
.personalData #email_change_pending em, #email_change_pending p {
	top: -18px;
	position: relative;
	left: 0;
	}
#forgotPass .forgotPass input[type="button"] {
	margin: 15px 0 0;
	width: 133px;
	padding: 7px 43px 7px 28px;
	background-position: 5px -642px;
	padding /*\*/: 8px 43px 6px 8px\9 !important;
	}
.forgotPassbrdnull {
	border-top: none;
	padding: 20px 10px;
	background-color: #fff;
	}
#forgotPass label span {
	width: 229px;
	}
#forgotPass p {
	right: 1px;
	position: absolute;
	}
	
/*--|| Captcha ||--*/	
.recaptchatable {
	left: -13px;
    position: relative;
	}	
	
/*--|| Bottom Content ||--*/
.searchJobs {
	margin: 0 0 45px;
	}
#bottomContent {
	padding: 50px 0 0;
	}
#bottomContent, #bottomContentOmitbrd {
	border-top: 1px dotted #ccc;
	clear: both;
	}
#bottomContentOmitbrd {
	border-top: none;
	}
.col-1-2 {
	width: 610px;
	}
.col-1-2 h1 {
	font-family: ProximaNova-Semibold, Arial, Helvetica, sans-serif;
	}
.col-1-2 p {
	color: #434343;
	line-height: 22px;
	}
.col-1 p {
	color: #434343;
	line-height: 22px;
	}
.col-1-2 p strong, .recruiterSub h3, #bottomContentOmitbrd .brdPreview .col-1-2 strong {
	font-family: ProximaNova-Bold, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #191919;
	font-weight: normal;
	}
.nullMrgbtm, .mrgNull {
	margin: 0 !important;
	}
.icoBrd {
	border: 1px solid #dfdfdf;
	text-align: center;
	padding: 1px 0;
	margin: 0 0 20px;
	min-height: 96px;
	line-height: 7.7em;
	}
.icoBrd img {
	vertical-align: middle;
	height: 79px;
	}
.bgWhitebox {
	background: url(../images/faintspirograph.png) right bottom no-repeat;
	}
.icoBrd ul {
	list-style: none;
	margin: 0;
	padding: 9px 26px 8px 20px;
	}
.icoBrd li {
	text-align: left;
	line-height: 35px;
	color: #343434;
	font-size: 13px;
	font-family: ProximaNova-Bold, Arial, Helvetica, sans-serif;
	}
.icoBrd li span {
	color: #5e5e5e;
	font-family: ProximaNova-Regular, Arial, Helvetica, sans-serif;
	font-weight: normal;
	}
.minusMrgerror {
	top:-22px !important;  
	left:153px;
	}
.minusMrgerror1 {
	top: -10px;
	left: 0;
	}
.minusLft {
	left: -202px;
	}	
.topError {
	top: 18px;
	}
.acceptError {
	top: -20px !important;
	left: 156px;
	}
	
/*--|| Radio ||--*/
.radio span {
	background-position: -384px -247px !important;
	}
.radio span.checked{
	background-position: -402px -247px !important; 
	}
.block-single-alert .jobName h1 {
	color: #fff;
	}
.personalData {
	width: 615px;
	}
.myJobbox h4 span, .appsummeryBox .regFont, .jobDetailsbox .regFont{
	font-family: ProximaNova-Regular, Arial, Helvetica, sans-serif;
	}
.searchTerms {
	padding: 32px 0 0;
	}
.paginationDetail {
	font-family: ProximaNova-Semibold, Arial, Helvetica, sans-serif;
	font-size: 12px;
	}
.searchTerms, #myJobs, .lrgWidth  {
	width: 640px;
	}
.userRecruiter {
	width: 638px;
	}
.sortable {
	font-family: ProximaNova-Semibold, Arial, Helvetica, sans-serif;
	font-size: 12px;
	}
.sortable .paddSort {
	padding: 0 0 0 20px;	
	}
.block-single-alert label .paddAlert {
	margin: 0 5px 0 0;
	}
.plusPaddbtn {
	margin-right: 24px !important;
	}
.sortable .paddSort a, .col-4-5 a, #alertSearchsetup label .advanceAlertForm, #alertSearchsetup label .basicAlertForm, .basicAlerts .box-alert #alertSearchsetup label .advanceAlertFormBasic, .basicAlerts .box-alert #alertSearchsetup label .basicAlertFormAdvance{
	text-decoration: none;
	color: #030303;
	border-bottom: 1px solid #c0c0c0;
	}	
.sortable .paddSort a:hover, .col-4-5 a:hover, #alertSearchsetup label .advanceAlertForm:hover, #alertSearchsetup label .basicAlertForm:hover, .basicAlerts .box-alert #alertSearchsetup label .advanceAlertFormBasic:hover, .basicAlerts .box-alert #alertSearchsetup label .basicAlertFormAdvance:hover {
	color: #e6001d;
	border-bottom: 1px solid #f9bfc6;
	}	
.sortable .paddSort a.active {
	color: #e6001d;
	border-bottom: none;
	}
.normal {
	font-size:14px;
	}	

/*--|| Common Content ||--*/
#commonContent {
	margin: -8px 0 0;
	}
#commonContent .col-2-2, .minusMrgalert h2 {
	padding-top: 8px;
	}
#commonContent h2 {
	font-size: 20px;
	}
.lrgTxt h5, .lrgTxt p strong, .appsummeryBox label span, .jobDetailsbox label span, .lrgTxt p a, #commonContent p b {
	font-size: 14px;
	font-family: ProximaNova-Semibold, Arial, Helvetica, sans-serif;
	font-weight: normal;
	}
.lrgTxt p strong {
	color: #434343;
	}
.emailIco, .phoneIco {
	background-position: -259px -534px;
    display: block;
    height: 11px;
    padding-right: 12px;
    position: relative;
    top: 6px;
    width: 16px;
	}	
.phoneIco {
	background-position: -185px -532px;
	height: 16px;
	top: 4px;
	}
#commonContent .oneone p{
	margin: 0;
	padding: 11px 0 0;	
	}
.lrgTxt p a{
	color: #e6001d;	
	}
.lrgTxt p {
	font-size: 14px;
	}
.uploads li a {
	color: #191919;
	text-decoration: none;
	border-bottom: 1px solid #c5c5c5;
	margin: 0 0 0 5px;
	vertical-align: top;
	}	
.uploads li a:hover {
	font-family: ProximaNova-Semibold, Arial, Helvetica, sans-serif;
	}
.multi .workType {
	padding: 0 40px 0 0;
	}

	
/*--|| Recruiter ||--*/
.recruiter h3{
	font-family: ProximaNova-Bold, Arial, Helvetica, sans-serif;
	color: #262626;
	margin: 6px 0 0;
	}
#postNewjob {
	right: 0;
	position: absolute;
	top: 56px;
	background: url(../images/postnewjobspirograph.png) right #e6001d no-repeat;
	width: 167px;
	height: 37px;
	padding: 20px;
	}
#postNewjob .innerBox {
	background-position: 0 -355px;
	border: 1px solid #bababa;
	box-shadow: 0 2px 1px #c60019;
	}
#postNewjob .innerBox:hover {
	background-position: 0 -390px;
	cursor: pointer;
	}
#postNewjob a:hover {
	text-decoration: none;
	}
#postNewjob .innerBox h4 {
	font-size: 14px;
	color: #323232;
	text-shadow: 1px 1px #FAFAFA;
	padding: 9px 0 0 11px;
	background-position: -88px -115px;
	line-height: 18px;
	height: 26px;
	}
#postNewjob .innerBox h4:hover {
	background-position: -93px -151px;
	cursor: pointer;
	}
.filter {
	font-family: ProximaNova-Semibold, Arial, Helvetica, sans-serif;
	color: #464646;
	clear: both;
	padding: 19px 0 22px;
	}
.filter span.txtFil {
	width: 92px;
	display: block;
	color: #222222;
	}
.filter span.radio {
	padding:  0 7px 0 0;
	vertical-align: middle;
	}
.filter .radio {
	vertical-align: top;
	}
.filter .radio span {
	background-position: -386px -322px !important;
	}
.filter .radio span.checked{
	background-position: -403px -322px !important; 
	}
#titleBoxactivejobs, #titleBoxapplicants {
	background-color: #3e3e3e;
	background-position: 0 -471px;
	border: 1px solid #202020;
	height: 12px;
	padding: 20px 0 16px 44px;
	padding-right /*\*/: 10px\9;
	margin: 0 0 6px;
	}
#titleBoxapplicants {
	padding: 20px 26px 15px 20px;
	}
.content  #titleBoxactivejobs h5 a, .content  #titleBoxapplicants h5 a, .content  #titleBoxactivejobs h5, .content  #titleBoxapplicants h5 {
	color: #fff;
	border-bottom: none;
	}
.content  #titleBoxactivejobs h5 a:hover, .content  #titleBoxapplicants h5 a:hover, .content  #titleBoxactivejobs h5:hover, .content  #titleBoxapplicants h5:hover {
	border-bottom: none;
	color: #fff !important;
	}
#titleBoxactivejobs .col-1-5, #titleBoxapplicants .col-1-5, #titleBoxactivejobs .saveJobarrow {
	width: 386px;
	background-position: -343px -199px;
	}
#titleBoxactivejobs .saveJobarrow {
	background-position: -343px -199px;
	}
#titleBoxactivejobs .col-2-5 {
	width: 115px;
	text-align: center;
	}
.paddMinus .col-2-5 {
	text-align: left !important;
	}
#titleBoxactivejobs .col-2-5, #titleBoxactivejobs .col-3-5, #titleBoxactivejobs .col-4-5, #titleBoxactivejobs .col-5-5, .paddMinus .col-5-5 {
	text-align: center;
	}
#titleBoxactivejobs .col-3-5 {
	width: 169px;
	}
#titleBoxactivejobs .col-4-5, #alertSearchsetup .buttons input[type="submit"] {
	width: 120px;
	}
.alertCreate .alertWdt a#createAlert {
	width: 97px;
	padding: 8px 0 8px 23px;
	}
#alertSearchsetup .buttons input[type="submit"], .newJobbuttons .createUser {
	padding: 7px 0 7px 23px;
	}
#titleBoxactivejobs .col-5-5 {
	width: 124px;
	width /*\*/: 114px\9;
	}
.lessPaddarchived {
	padding: 20px 0 16px 19px !important;
	}
.lessPaddarchived .lessPaddarchivedwidth {
	width: 411px !important;
	}
#titleBoxapplicants .col-1-5 {
	width: 175px;
	background-position: -342px -199px;
	}
#titleBoxapplicants .col-2-5 {
	width: 113px;
	}
#titleBoxapplicants .col-3-5 {
	width: 130px;
	}
#titleBoxapplicants .col-4-5 {
	width: 174px;
	}
#titleBoxapplicants .col-5-5 {
	width: 320px;
	}
#dataCol, #dataColapp {
	border: 1px solid #cbcbcb;
	margin: 0 0 28px;
	}
#dataCol .col-1-5 .checker {
	z-index: 1;
	}
#dataColapp h5, #dataCol h5, .box-alert .mrgBtm1 h2, .box-alert h3, .appsummeryBox h3, .jobDetailsbox h3 {
	color: #3e3e3e;
	}
.box-alert h3 {
	margin: 0 0 20px;
	}
#dataCol .col-1-5, #dataCol .col-2-5, #dataCol .col-3-5, #dataCol .col-4-5, #dataColapp .col-1-5, #dataColapp .col-2-5, #dataColapp .col-3-5, #dataColapp .col-4-5 {
	border-right: 1px solid #cbcbcb;	
	}
#dataColapp .col-1-5 {
	width: 162px;
	padding: 16px 0 62px 19px;
	}
#dataCol .col-1-5 {
	width: 412px;
	padding: 13px 0 0 19px;
	}
.addit .col-1-5 {
	width: 412px;
	padding: 13px 0 0 19px !important;
	}
.additH .col-1-5 {
	background: none !important;
	}
#dataCol .col-2-5, #dataCol .col-3-5, #dataCol .col-4-5 {
	text-align: center;
	padding-top: 13px;
	}
#dataCol .col-5-5 {
	padding: 13px 0 0;
	text-align: center;
	}
#dataCol .col-5-5, #dataCol .col-1-5, #dataCol .col-2-5, #dataCol .col-3-5, #dataCol .col-4-5 {
	height: 37px;
	}
#dataColapp .col-2-5 {
	padding: 16px 0 63px;
	text-align: center;
	}
#dataColapp .col-3-5, #dataColapp .col-4-5 {
	padding: 16px 0 63px;
	text-align: center;
	}
#dataColapp .col-4-5 {
	text-align: left;
	padding: 16px 20px 17px;
	}
#dataColapp .col-3-5 {
	padding: 16px 20px 61px;
	}
#dataCol .col-2-5 {
	width: 111px;
	}
#dataColapp .col-2-5 {
	width: 104px;
	}
#dataCol .col-3-5 {
	width: 170px;
	}
#dataColapp .col-3-5 {
	width: 90px;
	}
#titleBoxactivejobs .header2Wth {
    width: 112px;
	}
#titleBoxactivejobs .header3Wth {
    width: 120px;
	}
#titleBoxactivejobs .header4Wth {
    width: 171px;
	}
#dataCol .widthMod {
	width: 118px;
	}
#dataCol .widthLrg {
    width: 171px !important;
	}
#dataCol .col-4-5 {
	width: 119px;
	}
#dataColapp .col-4-5 {
	width: 135px;
	height: 60px;
	}
#dataCol .col-5-5 {
	width: 123px;
	}
#dataColapp .col-5-5 {
	width: 324px;
	}
#dataColapp .col-5-5 .col-1-2 {
	width: 262px;
	padding: 15px 9px 0 9px;
	border-right: 1px solid #cbcbcb;
	height: 78px;
	}
#dataColapp .col-5-5 .col-2-2 {
	width: 28px;
	padding: 21px 0 0 7px;
	}
#dataColapp .col-5-5 .col-1-2 textarea {
	width: 250px !important;
	}
.buttonsRgt .exportBtn, .repostBtn {
	background-position: -222px -308px;
	padding: 8px 7px 8px 35px;
	margin: 0;
	}
.archiveselBtn {
	background-position: -10px -424px;
    padding: 8px 0 8px 39px;
    width: 118px;
	}
.newJobform {
	width: 917px;
	margin: 22px 0 0;
	}
.newJobform h3 {
	margin: 0;
	color: #3e3e3e;
	}
.newJobform label span {
	width: 165px; 
	}
.newJobform label input[type="text"] {
	width: 355px;
	}
.newJobform .widelegth input[type="text"], .newJobform label textarea {
	width: 740px !important;
	}
.newJobform label .selector{
	width: 357px !important;
	}
.newJobform label .selector span, .newJobform label .selector select {
	width: 367px !important;
	background-position: -63px 0;
	line-height: 35px;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
	}
.newJobform label .selector.focus span, .newJobform label .selector.hover span, .newJobform label .selector:hover span {
	background-position: -63px -358px !important;
	}
.newJobform .smallInputbox input[type="text"] {
	width: 89px;
	text-align: center;
	}
.newJobform .brdTop {
	padding: 28px 0 20px 23px;
	width: 438px;
	width: 935px;
	}
.smLineHet {
	line-height: 14px !important;
	}
.newJobbuttons {
	padding: 27px 0 0;
	}
.newJobbuttons .saveBtn{
	padding: 7px 10px 7px 37px;
	background-position: -394px -143px;
	}
.omitMrg .saveBtn {
	width: 104px;
	background-position: -394px -143px;
	}
.omitMrg input.prevBtn {
	padding: 7px 0 7px 21px
	}
.newJobbuttons a.createUser {
	padding: 8px 4px 8px 27px;
	position: relative;
    top: 8px;
	}
.newJobbuttons input#cancel {
	margin-right: 8px;
	}
.newJobbuttons .prevBtn {
	width: 119px;
	padding: 7px 0 7px 21px;
	background-position: -252px -85px;
	}
.paddApp {
	padding: 20px 0 37px;
	}
.recruiterSub  h3, .omitMrg .prevBtn, .omitMrgprev .prevBtn, #jobPreview h3, .alreadyApplied h3 {
	margin: 0;
	}
.omitMrgprev #cancel, .cancelPrev, .newJobbuttons .repostBtn, .newJobbuttons .renewBtn {
	width: 90px;
	}
.deleteBtns, .editBtn, .runsearchBtn {
	width: 44px;
	text-align: center; 
	padding: 8px;
	}	
.runsearchBtn {
	width: 90px;
	}
.box-signUp #eamailJobForm input[type="button"] {
	background-position: -60px -642px;
    padding: 7px 35px 7px 16px;
    width: 70px;
	}
#dataColapp .col-3-5 .selector span, #dataColapp .col-3-5 .selector select {
	font-size: 12px !important;
	font-family: ProximaNova-Regular, Arial, Helvetica, sans-serif !important;
	text-shadow: none !important;
	background-position: -324px -415px;	
	width: 100px !important;
	line-height: 17px !important;
	height: 17px !important;
	}
#dataColapp .col-3-5 .selector, #dataColapp .col-3-5 .selector select {
	width: 96px !important;
	padding-left: 0 !important;
	height: 17px !important;
	min-width: 69px;
	margin: -2px 0 0;
	text-align: left;
	}
#dataColapp .col-3-5 .selector.focus span, #dataColapp .col-3-5 .selector.hover span {
	background-position: -324px -432px !important;
	}
.col-4-5 p {
	margin: 0;
	padding: 0;
	}
.col-4-5 p img {
	vertical-align: top;
	padding: 0 0 4px;
	}
#dataColapp .col-5-5 .col-2-2 .savenorBtn {
	box-shadow: 0 2px 1px #D3D3D3;
	background: url(../images/saveBtnbg.jpg) #3e3e3e repeat-x;
	border: 1px solid #3e3e3e;
	font-size: 12px;
	font-family: ProximaNova-Bold, Arial, Helvetica, sans-serif;
	color: #fff;
	padding: 5px 11px 4px;
	text-decoration: none;
	}
#dataColapp .col-5-5 .col-2-2 .savenorBtn:hover { 
	background: url(../images/saveBtnbgactive.jpg) #000000 repeat-x;
	}
#reports {
	margin: 22px 0;
	padding: 18px;
	width: 920px;
	}
#reports p span {
	font-size: 14px;
	color: #3e3e3e;
	width: 77px;
	display: block;
	line-height: 30px;
	}	
#reports h4 {
	font-size: 16px;
	font-family: ProximaNova-Regular, Arial, Helvetica, sans-serif;
	}
#reports input[type="text"] {
	width: 144px;
	margin: 0 25px 0 17px;
	}
.viewBtn, .runBtn {
	background-position: 8px -396px;
	padding: 8px 0 8px 31px;
	width: 43px;
	margin-left: 15px
	}
small {
	font-size: 12px;
	font-family: ProximaNova-Semibold, Arial, Helvetica, sans-serif;
	color: #464646;
	}
.buttonsRgt small {
	padding: 0 20px 0 0;
	line-height: 36px;
	}
.runBtn {
	background-position: -57px -642px !important;
    margin: 0 10px 0 0;
    padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 6px !important;
	padding-right: 31px !important;
    width: 74px !important;
	background-color: #3E3E3E !important;
	position: absolute;
    right: -80px;
	}
.whiteBg {
	background-color: #fff;
	}
.calander {
	background-position: -386px -463px;
    height: 30px;
    left: 215px;
    margin-top: 1px;
    position: absolute;
	}
.fileClosebtn {
	background-position: -115px -456px;
	right: 226px;
	margin-top: -22px;
	position: absolute;
	height: 20px !important;
	width: 20px !important;
	cursor: pointer;
	}

/*--|| Drop Down ||--*/
#menu ul li ul{
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: url(../images/subMenuspirograph.png) #fafafa right bottom no-repeat;
	z-index: 10;
	box-shadow: 0 2px 1px #D3D3D3;
	border: 1px solid #c8c8c8;
	width: 175px !important;
	}
#menu ul li ul li{
	display: list-item;
	float: none;
	margin: 0;
	padding: 0;
	}
#menu ul li ul li a{
	margin: 0;
	background: none;
	border-bottom: 1px solid #c8c8c8;
	color: #383737;
	box-shadow: none;
	border-right: none;	
	text-shadow: none;
	padding: 0;
	}
#menu ul li ul li a.brdBtmnull {
	border-bottom: 0;
	}
#menu ul li ul li a span {
	background-position: -331px -670px;
	font-size: 13px;
	width: 146px;
	padding: 8px 0 8px 29px;
	display: block;
	}
#menu ul li ul li a span:hover {
	background-position: 17px -670px;
	font-family: ProximaNova-Bold, Arial, Helvetica, sans-serif;
	background-color: #383838;
	text-shadow: none;
	color: #FFF;
	padding: 8px 0 8px 30px;
	}
.brdBtm {
	border: 1px solid #c8c8c8;
	}
#jobPreview #bottomContentOmitbrd .col-1-2 {
	width: 520px;
	}
.brdPreview {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px dotted #383838;
	margin: 60px 0 0;
	padding: 10px;
	}
.formError .formErrorContent, .min_experienceformError .formErrorContent{
	background: none; 
    right: 710px;
    top: 48px;
	top /*\*/: 50px\9;
 	border: none;
	}
.min_experienceformError .formErrorContent, .max_experienceformError .formErrorContent {
	right: 59px !important;
	}
.locationsformError .formErrorContent, .work_typesformError .formErrorContent, .job_typesformError .formErrorContent, .practice_areasformError .formErrorContent  {
	right: 336px !important;
    top: 50px !important;
	}
.job_previewformError .formErrorContent {
	top: 97px;
	top /*\*/: 82px\9;
	}
.job_descriptionformError .formErrorContent {
	top: 161px;
	top /*\*/: 148px\9;
	}
	
/*--|| Post New Jobs Error Message ||--*/
.inputContainer { 
	position: relative; 
	}
.formError { 
	position: absolute; 
	top: 300px; 
	left: 300px; 
	display: block; 
	z-index: 5000; 
	cursor: pointer; 
	}
.ajaxSubmit { 
	padding: 20px; 
	background: #55ea55; 
	border: 1px solid #999; 
	display: none; 
	}
.formError .formErrorArrow { 
	width: 15px; 
	margin: -2px 0 0 13px;  
	position:relative; 
	z-index: 5006; 
	}
.formError .formErrorArrowBottom { 
	box-shadow: none; 
	-moz-box-shadow: none;
	-webkit-box-shadow: none; 
	margin: 0px 0 0 12px; 
	top:2px; 
	}
.formError .formErrorArrow div { 
	font-size: 0px; 
	height: 1px; 
	background: #202020; 
	margin: 0 auto; 
	line-height: 0; 
	font-size: 0; 
	display: block; 
	}
.formError .formErrorArrowBottom div {  
	box-shadow: none; 
	-moz-box-shadow: none; 
	-webkit-box-shadow: none; 
	}
 .greenPopup .formErrorArrow div { 
 	background: #33be40; 
	}
 .blackPopup .formErrorArrow div { 
 	background: #393939; 
	color: #FFF; 
	}
.formError .formErrorArrow .line10 { 
	width: 15px; 
	border: none;
	}
.formError .formErrorArrow .line9 { 
	width: 13px; 
	border: none; 
	}
.formError .formErrorArrow .line8 { 
	width: 11px; 
	}
.formError .formErrorArrow .line7 { 
	width: 9px; 
	}
.formError .formErrorArrow .line6 { 
	width: 7px; 
	}
.formError .formErrorArrow .line5 { 
	width: 5px; 
	}
.formError .formErrorArrow .line4 { 
	width: 3px; 
	}
.formError .formErrorArrow .line3 { 
	width: 1px; 
	border-left: 2px solid #ddd; 
	border-right: 2px solid #ddd; 
	border-bottom: 0 solid #ddd; 
	}
.formError .formErrorArrow .line2 { 
	width: 3px; 
	border: none; 
	background: #ddd; 
	}
.formError .formErrorArrow .line1 { 
	width: 1px; 
	border: none; 
	background: #ddd;
	}
.largeWdth {
	width: 740px !important;
	}
.newJobbuttons .repostBtn {
	margin: 0 9px 0 0;
	}
.userRecruiter {
	margin: 10px 0 6px !important;
	}
.userRecruiter .userEdit {
	padding: 13px 0 0;
	margin-right: 25px;
	text-align: center;
    width: 154px;
	}
.paddMinus .col-2-5 {
	width: 200px !important;
	}
.paddMinus .col-5-5 {
	width: 400px !important;
	}
.userRecruiter .col-2-5 {
	width: 220px !important;
	text-align: left !important;
	padding-left: 20px;
	}
.userRecruiter .col-5-5 {
	margin-right: 41px;
    width: 171px !important;
	}
.paddMinus {
	width: 618px;
	padding: 20px 0 16px 20px !important;
	}
.newJobform .createBtn .radioBtns {
	width: 160px;
	line-height: 11px;
	}
.lgnwidth {
	width: 120px !important;
	text-align: center;
	float: right !important;
	}
.content .inactiveLink, .content .inactiveLink:hover {
	color: #d1d1d1 !important;
	border-bottom: none;
    }
.disableBtn {
	background: url(../images/disableBtnbg.png) repeat;
	color: #b4b4b4;
	cursor: default;
	position: relative;
	}
.applyIco span, .saveIco span, .emailIcos span, .printIcos span, .removeIco span, .repostIco span, .renewIco span {
	background-position: -90px -702px;
    height: 20px;
    left: 5px;
    position: absolute;
    width: 20px;
	}
.saveIco span {
	background-position: -105px -719px;
	}
.emailIcos span {
	background-position: -89px -738px;
	}
.printIcos span {
	background-position: -105px -754px;
	}
.removeIco span {
	background-position: -93px -770px;
	}
.repostIco span {
	background-position: -121px -784px;
	}
.renewIco span {
	background-position: -400px -644px;
	}
#alertSearchsetup .selector, #alertSearchsetup .selector select  {
	width: 259px;
	}
#alertSearchsetup .selector select {
	min-width: 269px;
	}
#alertSearchsetup .selector span{
	width: 231px !important;
	}
#alertSearchsetup .selector.focus span, #alertSearchsetup .selector.hover span, #alertSearchsetup .selector:hover span {
	background-position: -162px -358px !important;
	}
.alertBrdtop {
	border-top: 1px dotted #c7c7c7;
	}
.box-alert #alertSearchsetup {
	padding: 0;
	}
.innerPadds {
	padding: 29px 11px 23px 22px;
	}
#alertSearchsetup .innerPadds .sjcol-2-2 .alertFix {
	top: 34px;
	left: 150px;
	}
.alertWdt #searchList li {
	padding: 14px 42px
	}
.alertWdt #searchList li.list1 {
	padding: 14px 114px 14px 16px;
	}
.alertWdt #searchList li.omitRgtpaddaler {
	padding: 14px 0 14px 16px;
	}
.alertWdt #searchList li.omitRgtpaddaler {
	width: 340px;
}
.alertWdt #searchList li.list2 {
	padding: 14px 10px 14px 42px;
	}
.alertWdt #searchList li.first {
	width: 272px;
	}	
.alertWdt #searchList li.second {
	width: 200px;
	}
#searchList .colBG {
	min-height: 45px;
	}
#searchList a.runSearchbtn {
	background-position: 0 -519px;
	padding: 6px 12px 5px;
	color: #fff;
	font-family: ProximaNova-Bold, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-repeat: repeat-x;
	position: relative;
    top: 17px;
	border: 1px solid #3e3e3e;
	box-shadow: 0 2px 1px #D3D3D3;
	}
#searchList a.runSearchbtn:hover {
	background-position: 0 -544px;
	border: 1px solid #212121;
	}
.alertWdt .pagination {
	padding: 0;
	}
#recaptcha_image {
	height: 57px;
    left: -23px;
    position: relative;
    width: 300px;
	}
#recaptcha_image img {
	width: 250px;
	}
.box-signUp .emailJbs h3 {
	margin-left: 18px;
	}
.adjPadd p{
	left:200px; 
	position: absolute; 
	top:33px;
	}
.noJobsvisible {
	margin-top: -43px; 
	}
.noJobsvisible span.txtFil {
        color: #222222;
        }
.noJobsvisible red {
        vertical-align: middle;
        }
.noJobsvisible h5 {
	float:right; 
	padding-left: 5px;
	}
.emailJobs {
	width:620px; 
	background-color: #fff; 
	overflow: hidden; 
	margin:0 auto;
	}	
#firmDetailsForm label, #createNewUserForm .createBtn {
	margin: 0;
	}
.brdLogin .moderateWtd {
	width: 617px;
	}
.brdLogin .moderateWtdbtn, .brdLogin .moderateWtdbtnc {
	width: 660px;
	}
.moderateWtdbtn a#cancel {
	display: block;
	padding: 8px 5px 8px 14px;
	width: 54px;
	}
.newJobform .smWtd div {
	float /*\*/: left\9;
	}
.paddsie89 {
	padding-top /*\*/: 15px\9;
	}
#job_description-wysiwyg-iframe {
	width: 725px !important;
	background-color: #FFF;
	margin-bottom: 15px;
	border: 1px solid #d6d6d6;
	padding:5px !important;
	}
div.wysiwyg iframe {
	height: 400px !important;
	
	}
#cboxLoadedContent .applyBtn {
	background-image: none;
	padding-left: 25px;
	}


/* ONLY FOR IE9 */
:root .buttons input[type="submit"], #loginBtmBrd .box-signIn label input[type="submit"], #alertSearchsetup .buttons input[type="submit"], #alertSearchsetup .buttons #cancel, .searchJobsform #cancel, .searchJobsform .saveBtn, .searchJobsform .applyBtn, .newJobbuttons .saveBtn, #reports .runBtn, .newJobbuttons .createUser, .newJobbuttons #cancel, .signUpform input[type="submit"], .signUpform input[type="reset"], .buttonsRgt .exportBtn {
	padding-top: 8px\9;
	padding-bottom: 8px\9;
	}
:root .alertCreate .alertWdt a#createAlert, .alertWdt input[type="submit"], #quickJobsearch input[type="submit"], #basicSearchButton input[type="submit"], .myJobbtn a, .personalData .paddBtn input[type="submit"], .alertCreate a#createAlert, .runsearchBtn, .personalData .paddBtn #cancel, .appsummeryBox a.viewApplicantsbtn, .viewBtn, .omitMrg input.prevBtn, .omitMrg .saveBtn, .omitMrg #cancel {
	padding-top: 8px\9;
	padding-bottom: 7px\9;
	}
:root .adjPadd p { 
	top: 17px\9;
	}
:root #eamailJobForm .errorTxtemailjobsmsg p {
    top: 87px\9;
	}
	
/* ONLY FOR IE8 */

#headerButtonsinner .wrapper li a {
	position: relative;
	right: -4px;
	}
#headerButtonsinner .wrapper li strong {
	padding-right: 0;
	}	
.sortable {
	width: 208px;
	}
.searchTerms .sortable {
	width: 278px;
	}
.signUpform input[type="submit"], .signUpform input[type="reset"], .alertWdt input[type="submit"], .buttons #cancel, #alertSearchsetup .buttons input[type="submit"], .personalData .paddBtn input[type="submit"], .personalData .paddBtn #cancel, .searchJobsform .saveBtn, .searchJobsform #cancel, .searchJobsform .applyBtn, .archiveselBtn, .newJobbuttons .saveBtn, #reports input[type="submit"], .newJobbuttons #cancel, .omitMrg input.prevBtn {
	padding-top: 8px;
	padding-bottom: 8px
	}
.wysiwyg {
	left: 0;
	top: 0;
	}
.signUpform .minusMrgerror {
	top: -25px !important;
	}
#eamailJobForm .errorTxtemailjobsmsg p {
    top: 86px !important;
	}
#bottomContentOmitbrd , .newJobform {
	position: relative;
	top: 13px;
	}
#menu ul li ul li a {
	display: block;
	}
.searchJobsbox .buttons a {
	position: absolute;
	}	
	}
.signUpform .confirm_email, .signUpform .first_name, .signUpform .last_name {
	top: 4px\0/ !important;
	}
.signUpform .title, .signUpform .job_types_id {
	top: 6px\0/ !important;
	}
.signUpform .tos_acceptance {
	top: -20px\0/ !important;
	}
	#preview_job_description{text-align:justify;line-height:22px;}
	#bottomContentOmitbrd .col-1-2{line-height:22px;text-align:justify;}
	